################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PawanDhoundiyal.BookStore/.vs/PawanDhoundiyal.BookStore/v16
/PawanDhoundiyal.BookStore/PawanDhoundiyal.BookStore/bin/Debug/netcoreapp3.1
/PawanDhoundiyal.BookStore/PawanDhoundiyal.BookStore/obj
/PawanDhoundiyal.BookStore/.vs/PawanDhoundiyal.BookStore/config
/PawanDhoundiyal.BookStore/PawanDhoundiyal.BookStore/PawanDhoundiyal.BookStore.csproj.user
/PawanDhoundiyal.BookStore/PawanDhoundiyal.BookStore/wwwroot/lib
