
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
    <h1 class="popover-header">Welcome to Book Store Application</h1>

    @*using static files in website we need to tell the pipeline we are using static files in pipeline *@

    <img src="~/images/logo.png" alt="logo" class="card-img,logo" />
    <h1>This is home page of our application</h1>
</body>
</html>
